.jumbotron{
    text-align: center;
    background:none;
}
.sectionalLight{
    background-color: #eceeef;
    padding: 2em;
}
.sectionDark{
    background-color: #cccccc;
    padding: 2rem;
}
.coolStuffWrapper{
    margin-top: 20px;
    
}
button.coolStuffBtn{
    background-color: red;
    color: #ffffff;
    margin: auto;
    display: block;
}

h5.modal-title
{
    margin: auto;
}

.modalFormWrapper{
    padding: 2rem;
}

.imgCentre{
    padding-top: 5%;
    display: block;
    margin: auto;
}
.btnCenter{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 65%;
}

.footerImg{
    padding: 15px;
}

.fa{
    margin: 10px;
}
.fa-facebook-square{
    color: #3b5998;
}

.fa-google-plus{
    color: #c32f10;
}

.fa-instagram{
    color: #ffffff;
}
.socialWrapper{
    margin:auto;
}


























